In [84]:
import pandas as pd
import re
import seaborn as sns

# #0 Importando o(s) datasets

In [3]:
LeagueofLegends = pd.read_csv('Datasets/LeagueofLegends.csv')
dfKills = pd.read_csv('Datasets/kills.csv')
dfmatchinfo = pd.read_csv('Datasets/matchinfo.csv')

# #1 Limpeza e organização dos dados

In [4]:
# Primeiro verifico o tipo de dado que compõe a coluna, se ele está ideal para uso ou se deve ser alterado
print(type(LeagueofLegends['League'][0]))
# Como a coluna League trata-se da liga na qual o dado foi obtido, logo, uma string
print(type(LeagueofLegends['Year'][0]))
# A coluna ano é a coluna do ano no qual o dado foi obtido, logo, um numero inteiro
type(LeagueofLegends['Season'][0])
type(LeagueofLegends['Type'][0])
type(LeagueofLegends['blueTeamTag'][0])
type(LeagueofLegends['bResult'][0])
type(LeagueofLegends['rResult'][0])
type(LeagueofLegends['redTeamTag'][0])
type(LeagueofLegends['gamelength'][0]) #Em minutos
type(LeagueofLegends['golddiff'][0]) #Transformar em Lista
type(LeagueofLegends['goldblue'][0]) #Transformar em lista
type(LeagueofLegends['bTowers'][0]) #Transformar em lista (Time,Lane,Type)
type(LeagueofLegends['bInhibs'][0]) #Transformar em lista (Time, Type)
type(LeagueofLegends['bDragons'][0]) #Transformar em lista (Time, Type), encontrar forma de contar dragões
type(LeagueofLegends['bBarons'][0]) #Transformar em lista(qnt, Time)
type(LeagueofLegends['bHeralds'][0]) #Transformar em lista(qnt, Time)
type(LeagueofLegends['goldred'][0]) #Transformar em lista
type(LeagueofLegends['rTowers'][0]) #Transformar em lista (Time,Lane,Type)
type(LeagueofLegends['rInhibs'][0]) #Transformar em lista (Time, Type)
type(LeagueofLegends['rDragons'][0]) #Transformar em lista (Time, Type), encontrar forma de contar dragões
type(LeagueofLegends['rBarons'][0]) #Transformar em lista(qnt, Time)
type(LeagueofLegends['rHeralds'][0]) #Transformar em lista(qnt, Time)

type(LeagueofLegends['blueTopChamp'][0])
type(LeagueofLegends['goldblueTop'][0]) #Transsformar em lista
type(LeagueofLegends['blueJungleChamp'][0])
type(LeagueofLegends['goldblueJungle'][0]) #Transsformar em lista
type(LeagueofLegends['redMiddleChamp'][0])
type(LeagueofLegends['goldblueMiddle'][0]) #Transsformar em lista
type(LeagueofLegends['blueADCChamp'][0])
type(LeagueofLegends['goldblueADC'][0]) #Transsformar em lista
type(LeagueofLegends['blueSupportChamp'][0])
type(LeagueofLegends['goldblueSupport'][0]) #Transsformar em lista
type(LeagueofLegends['blueBans'][0]) #Transformar em lista
type(LeagueofLegends['blueTop'][0])
type(LeagueofLegends['blueJungle'][0])
type(LeagueofLegends['blueMiddle'][0])
type(LeagueofLegends['blueADC'][0])
type(LeagueofLegends['blueSupport'][0])

type(LeagueofLegends['redTopChamp'][0])
type(LeagueofLegends['goldredTop'][0]) #Transsformar em lista
type(LeagueofLegends['redJungleChamp'][0])
type(LeagueofLegends['goldredJungle'][0]) #Transsformar em lista
type(LeagueofLegends['redMiddleChamp'][0])
type(LeagueofLegends['goldredMiddle'][0]) #Transsformar em lista
type(LeagueofLegends['redADCChamp'][0])
type(LeagueofLegends['goldredADC'][0]) #Transsformar em lista
type(LeagueofLegends['redSupportChamp'][0])
type(LeagueofLegends['goldredSupport'][0]) #Transsformar em lista
type(LeagueofLegends['redBans'][0]) #Transformar em lista
type(LeagueofLegends['redTop'][0])
type(LeagueofLegends['redJungle'][0])
type(LeagueofLegends['redMiddle'][0])
type(LeagueofLegends['redADC'][0])
type(LeagueofLegends['redSupport'][0])

<class 'str'>
<class 'numpy.int64'>

str

In [5]:
#Função para tranasformação simples de str para lista
def transListSimple(data):
    temp = []
    if(type(data[0]) == str):
        for i in range(len(data)):
            temp.append(data[i].replace('[','').replace(']','').split(', '))
        return temp
    else:
        return data

In [6]:
LeagueofLegends['golddiff'] = transListSimple(LeagueofLegends['golddiff'])
LeagueofLegends['goldblue'] = transListSimple(LeagueofLegends['goldblue'])
LeagueofLegends['goldred'] = transListSimple(LeagueofLegends['goldred'])
LeagueofLegends['goldblueTop'] = transListSimple(LeagueofLegends['goldblueTop'])
LeagueofLegends['goldblueJungle'] = transListSimple(LeagueofLegends['goldblueJungle'])
LeagueofLegends['goldblueMiddle'] = transListSimple(LeagueofLegends['goldblueMiddle'])
LeagueofLegends['goldblueADC'] = transListSimple(LeagueofLegends['goldblueADC'])
LeagueofLegends['goldblueSupport'] = transListSimple(LeagueofLegends['goldblueSupport'])
LeagueofLegends['blueBans'] = transListSimple(LeagueofLegends['blueBans'])
LeagueofLegends['goldredTop'] = transListSimple(LeagueofLegends['goldredTop'])
LeagueofLegends['goldredJungle'] = transListSimple(LeagueofLegends['goldredJungle'])
LeagueofLegends['goldredMiddle'] = transListSimple(LeagueofLegends['goldredMiddle'])
LeagueofLegends['goldredADC'] = transListSimple(LeagueofLegends['goldredADC'])
LeagueofLegends['goldredSupport'] = transListSimple(LeagueofLegends['goldredSupport'])
LeagueofLegends['redBans'] = transListSimple(LeagueofLegends['redBans'])

## APAGAR CELULA DE BAIXO

In [7]:
def killDF(column):
    out = []
    for i in range(len(LeagueofLegends[f'{column}'])):   
        string = LeagueofLegends[f'{column}'][i][1:-1:]
        lista = string.split('], [')
        lista[0] = lista[0][1::] #primeiro elemento sem o '['
        lista[len(lista)-1] = lista[len(lista)-1][:-1:] #ultimo elemento sem o ']'

        # ------------------------------------------------------
        temp = []
        for j in lista:    
            if (j != ""):
                c = j.replace(re.search(r'(?<=\[).*(?=\])', j)[0], '') #retirando a lista da string
                d = c.split(', ')

                d[0] = float(d[0].replace('.',''))/10**len(re.search(r'(?<=\.).*', d[0])[0])
                d[1] = d[1].replace("'","")
                d[2] = d[2].replace("'","")
                d[3] = re.search(r'(?<=\[).*(?=\])', j)[0].split(',')
                if d[4] != "": d[4] = float(d[4])
                if d[5] != "": d[5] = float(d[5])
                
                if (len(d[3]) > 0):
                    for k in range(1,len(d[3])):
                        d[3][k] = d[3][k].replace("'","")
                    for k in range(len(d[3])):
                        d[3][k] = d[3][k].replace(" '","").replace("'","")

            else:
                d = ['NotKilled']
            temp.append(d)
        out.append(temp)

    return out

In [40]:
jogos = range(len(dfKills['Address'].unique()))
JogosLink = dfKills['Address'].unique()
df_jogos = pd.DataFrame(data =JogosLink, index=jogos).reset_index()
df_jogos['Address'] = df_jogos[0]
df_jogos['IdJogo'] = df_jogos['index']
df_jogos = df_jogos.drop(columns=['index',0])
df_jogos

                                                Address  IdJogo
0     http://matchhistory.na.leagueoflegends.com/en/...       0
1     http://matchhistory.na.leagueoflegends.com/en/...       1
2     http://matchhistory.na.leagueoflegends.com/en/...       2
3     http://matchhistory.na.leagueoflegends.com/en/...       3
4     http://matchhistory.na.leagueoflegends.com/en/...       4
...                                                 ...     ...
7615  https://matchhistory.euw.leagueoflegends.com/e...    7615
7616  https://matchhistory.euw.leagueoflegends.com/e...    7616
7617  https://matchhistory.na.leagueoflegends.com/en...    7617
7618  https://matchhistory.na.leagueoflegends.com/en...    7618
7619  https://matchhistory.na.leagueoflegends.com/en...    7619

[7620 rows x 2 columns]

In [55]:
testea = dfKills.sort_values(by = 'Address')
testea['Address'][len(testea['Address'])-1]

'https://matchhistory.na.leagueoflegends.com/en/#match-details/ESPORTSTMNT03/520903?gameHash=13203adbaa0c1fa5'

In [56]:
testeb = df_jogos.sort_values(by = 'Address')
testeb['Address'][len(testeb['Address'])-1]

'https://matchhistory.na.leagueoflegends.com/en/#match-details/ESPORTSTMNT03/520903?gameHash=13203adbaa0c1fa5'

In [53]:
j = 0
GameNu = []
for i in range(len(df_jogos['Address'])):
    while(testea['Address'][j] == testeb['Address'][i]):
        GameNu.append(i)
        j += 1

In [81]:
dfKills = dfKills.merge(df_jogos)

In [82]:
dfKills

,Address,Team,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4,x_pos,y_pos,IdJogo
0,http://matchhistory.na.leagueoflegends.com/en/...,bKills,10.820,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN,9229,8469,0
1,http://matchhistory.na.leagueoflegends.com/en/...,bKills,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN,13908,5960,0
2,http://matchhistory.na.leagueoflegends.com/en/...,bKills,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN,8281,7889,0
3,http://matchhistory.na.leagueoflegends.com/en/...,bKills,18.880,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,8522,8895,0
4,http://matchhistory.na.leagueoflegends.com/en/...,bKills,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,8902,7643,0
...,...,...,...,...,...,...,...,...,...,...,...,...
191064,https://matchhistory.na.leagueoflegends.com/en...,rKills,35.086,TTC Papryze,LGC Claire,LGC Ceres,LGC Sybol,LGC Raid,LGC Decoy,6424,9256,7619
191065,https://matchhistory.na.leagueoflegends.com/en...,rKills,40.706,TTC Low,LGC Raid,LGC Ceres,LGC Sybol,LGC Decoy,NaN,1464,2974,7619
191066,https://matchhistory.na.leagueoflegends.com/en...,rKills,40.711,TTC Swathe,LGC Claire,LGC Ceres,LGC Sybol,LGC Raid,LGC Decoy,1014,4828,7619
191067,https://matchhistory.na.leagueoflegends.com/en...,rKills,41.113,TTC Tilting,LGC Claire,LGC Ceres,LGC Sybol,NaN,NaN,693,2924,7619
191068,https://matchhistory.na.leagueoflegends.com/en...,rKills,41.201,TTC Papryze,LGC Claire,LGC Ceres,LGC Sybol,NaN,NaN,679,2602,7619

# Visualização dos dados

AttributeError: 'Series' object has no attribute 'to_numeric'